/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_light {
	--background-image: url(../images/cover-image-light.png);
	--text-accent: #ffc2e6;
	--accent-color: #ff0070;
	--title-background: #ff8dcb;
	--text-color: #353430;
	--title-color: #353430;
	--article-title: #353430;
	--decoration-border: #353430;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-image: url(../images/cover-image-light.png);
		--text-accent: #ffc2e6;
		--accent-color: #ff0070;
		--title-background: #ff8dcb;
		--text-color: #353430;
		--title-color: #353430;
		--article-title: #353430;
		--decoration-border: #353430;
	}
}

.theme_light > .header > .header__icon,
.theme_auto > .header > .header__icon {
	visibility: hidden;
}
